
<!-- titulo -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-building-o"></i>Nueva Sucursal</h3>
    </div>
  </div>
  <!-- Contenido  --> 
  <div class="row">
    <div class="col-lg-12">
    <form #rutasCobradorForm="ngForm"  (ngSubmit)="addRutaXCobrador();limpiarForm(rutasCobradorForm)" role="form">
        <br>
        <label>
            Ruta: 
            <span class="label label-danger" *ngIf="!ruta.valid && ruta.touched">El nombre no es valido</span> 
        </label>
        <!-- <input type="text" #ruta="ngModel" [(ngModel)]="nuevaRutaXCobrador.ruta" class="form-control" name="ruta" required> -->
        <select name="ruta" #ruta="ngModel" [(ngModel)]="nuevaRutaXCobrador.idruta" class="form-control m-bot15 " required>
          <option value="{{ruta.idruta}}" *ngFor="let ruta of rutas">{{ruta.nombre}}</option>
        </select>
        
        <label>
            Cobrador:
            <span class="label label-danger" *ngIf="!cobrador.valid && cobrador.touched">El status no es valido</span> 
        </label>
        <select name="cobrador" #cobrador="ngModel" [(ngModel)]="nuevaRutaXCobrador.idcobrador" class="form-control m-bot15 " required>
            <option value="{{empleado.idempleado}}" *ngFor="let empleado of empleados">{{empleado.nombres}} {{empleado.app_pat}} {{empleado.app_mat}}</option>
        </select>
            <!-- boton guardar -->
        <input  type="submit" value="Guardar cambios" [disabled]="!rutasCobradorForm.form.valid" class="btn btn-success" name="guardar" title="guardar cambios" >
        <button class="btn btn-primary" style="margin-left: 3px" (click)="limpiarForm(rutasCobradorForm)">Limpiar Formulario</button>
    </form>
    <br><br><br>

    <div class="row" *ngIf="rutasXCobrador">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Rutas Asignadas
                    </header>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th><i class="fa fa-user"></i> Empleado</th>
                                    <th><i class="fa fa-sasdasd"></i> Ruta</th>
                                </tr>
                                <tr *ngFor="let ruta of rutasXCobrador">                                        
                                    <td><i class="fa fa-user"></i> {{ruta.empleado_nombres}} {{ruta.empleado_app_pat}} {{ruta.empleado_app_mat}}</td>
                                    <td><i class="fa fa-sdasd"></i> {{ruta.ruta_nombre}}</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </section>
            </div> 
        </div>

</div>
</div>        