
<!-- titulo -->
<div class="row">
  <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa-user"></i> Añadir Nuevo Cliente</h3>
  </div>
</div>
<!-- Contenido  -->
<div class="content">
<div class="col-lg-12">
      <form #clienteForm="ngForm" (ngSubmit)="addCliente();limpiarForm(clienteForm)" class="" id="clienteForm" enctype="multipart/form-data">

              <label>
                  Nombres: 
                  <span class="label label-danger" *ngIf="!nombre.valid && nombre.touched">El nombre no es valido</span> 
              </label>
              <input type="text" #nombre="ngModel" [(ngModel)]="nuevoCliente.nombres" class="form-control" name="nombre" required>
  
              <label>
                  Apellido paterno:
                  <span class="label label-danger" *ngIf="!apppat.valid && apppat.touched">El apellido no es valido</span> 
              </label>
              <input type="text" #apppat="ngModel" [(ngModel)]="nuevoCliente.app_pat" class="form-control" name="apppat" required>
  
              <label>
                  Apellido materno:
                  <span class="label label-danger" *ngIf="!appmat.valid && appmat.touched">El apellido no es valido</span> 
              </label>
              <input type="text" #appmat="ngModel" [(ngModel)]="nuevoCliente.app_mat" class="form-control" name="appmat" required>
  
              <label>
                  Calle y numero:
                  <span class="label label-danger" *ngIf="!callenum.valid && callenum.touched">La calle y el numero no son validos</span> 
              </label>
              <input type="text" #callenum="ngModel" [(ngModel)]="nuevoCliente.callenum" class="form-control" name="callenum" required>
  
              <label>
                  Colonia:
                  <span class="label label-danger" *ngIf="!colonia.valid && colonia.touched">La colonia no es valida</span> 
              </label>
              <input type="text" #colonia="ngModel" [(ngModel)]="nuevoCliente.colonia" class="form-control" name="colonia" required>
  
              <label>
                  Estado:
                  <span class="label label-danger" *ngIf="!colonia.valid && colonia.touched">La colonia no es valida</span> 
              </label>
              <select  #estados="ngModel" [(ngModel)]="nuevoCliente.estado" name="estados" class="form-control m-bot15 ">
                  <option value="Aguascalientes">Aguascalientes</option>
                  <option value="Baja California">Baja California</option>
                  <option value="Baja California Sur">Baja California Sur</option>
                  <option value="Campeche">Campeche</option>
                  <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                  <option value="Colima">Colima</option>
                  <option value="Chiapas">Chiapas</option>
                  <option value="Chihuahua">Chihuahua</option>
                  <option value="Distrito Federal">Distrito Federal</option>
                  <option value="Durango">Durango</option>
                  <option value="Guanajuato">Guanajuato</option>
                  <option value="Guerrero">Guerrero</option>
                  <option value="Hidalgo">Hidalgo</option>
                  <option value="Jalisco">Jalisco</option>
                  <option value="México">México</option>
                  <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                  <option value="Morelos">Morelos</option>
                  <option value="Nayarit">Nayarit</option>
                  <option value="Nuevo León">Nuevo León</option>       
                  <option value="Oaxaca">Oaxaca</option>
                  <option value="Puebla">Puebla</option>
                  <option value="Querétaro">Querétaro</option>
                  <option value="Quintana Roo">Quintana Roo</option>
                  <option value="San Luis Potosí">San Luis Potosí</option>
                  <option value="Sinaloa">Sinaloa</option>
                  <option value="Sonora">Sonora</option>
                  <option value="Tabasco">Tabasco</option>
                  <option value="Tamaulipas">Tamaulipas</option>
                  <option value="Tlaxcala">Tlaxcala</option>
                  <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
                  <option value="Yucatán">Yucatán</option>
                  <option value="Zacatecas">Zacatecas</option>
              </select>
  
              <label>
                  Municipio:
                  <span class="label label-danger" *ngIf="!municipio.valid && municipio.touched">El municipio no es valido</span> 
              </label>
              <input type="text" #municipio="ngModel" [(ngModel)]="nuevoCliente.municipio" class="form-control" name="municipio" required>
  
              <label>
                  Poblacion:
                  <span class="label label-danger" *ngIf="!poblacion.valid && poblacion.touched">La poblacion no es valida</span> 
              </label>
              <input type="text" #poblacion="ngModel" [(ngModel)]="nuevoCliente.poblacion" class="form-control" name="poblacion" required>
  
              <label>
                  Telefono:
                  <span class="label label-danger" *ngIf="!telefono.valid && telefono.touched">El telefono no es valido</span> 
              </label>
              <input type="text" #telefono="ngModel" [(ngModel)]="nuevoCliente.telefono" class="form-control" name="telefono" required>
              
              <!-- <label>
                  Imagen Direccion:
                  <span class="label label-danger" *ngIf="!imagenDireccion.valid && imagenDireccion.touched">La Imagen no es valida</span> 
              </label>
              <input type="text" #imagenDireccion="ngModel" [(ngModel)]="nuevoCliente.imagen_direccion" class="form-control" name="imagenDireccion" required>
  
              <label>
                  Imagen INE:
                  <span class="label label-danger" *ngIf="!ImagenINE.valid && ImagenINE.touched">La Imagen no es valida</span> 
              </label> -->
              <!-- <input type="text" #ImagenINE="ngModel" [(ngModel)]="nuevoCliente.imagen_ine" class="form-control" name="ImagenINE" required> -->
  
              <!-- <label>
                  Credito Solicitado:
                  <span class="label label-danger" *ngIf="!creditoSolicitado.valid && creditoSolicitado.touched">El Credito Solicitado no es valido</span> 
              </label>
              <input type="text" #creditoSolicitado="ngModel" [(ngModel)]="nuevoCliente.credito_solicitado" class="form-control" name="creditoSolicitado" required>
  
              <label>
                  Cantidad de Creditos:
                  <span class="label label-danger" *ngIf="!cantidadCreditos.valid && cantidadCreditos.touched">La cantidad de creditos no es valida</span> 
              </label>
              <input type="text" #cantidadCreditos="ngModel" [(ngModel)]="nuevoCliente.cantidad_creditos" class="form-control" name="cantidadCreditos" required>
   -->
              <br>
              <!-- boton guardar -->
              <input  type="submit" value="Registrar" [disabled]="!clienteForm.form.valid" class="btn btn-success" name="guardar" title="Registrar" >
              <button class="btn btn-primary" style="margin-left: 3px">Limpiar Formulario</button>
          </form>
  

</div>
</div>            

<!--main content end-->