
<!-- titulo -->
<div class="row">
<div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-check-square"></i>Añadir Nuevo Negocio</h3>
</div>
</div>
<!-- Contenido  -->
<div class="row">
<div class="col-lg-12">
    <form #negocioForm="ngForm" (ngSubmit)="addNegocio();limpiarForm(negocioForm)" class="" id="negocioForm">
        <label>
            Cliente: 
            <span class="label label-danger" *ngIf="!idCliente.valid && idCliente.touched">El Id del cliente no es valido</span> 
        </label>
        <!-- <input type="text" #idCliente="ngModel" [(ngModel)]="nuevoNegocio.idcliente" class="form-control" name="idCliente" required> -->
        <select #idCliente="ngModel" [(ngModel)]="nuevoNegocio.idcliente" name="idcliente" class="form-control m-bot15" >
            <option value="{{cliente.idcliente}}" *ngFor='let cliente of clientes'>id: {{cliente.idcliente}}, Nombre: {{cliente.nombres}} {{cliente.app_pat}} {{cliente.app_mat}}</option>
        </select>
        <label>
            Nombre del negocio: 
            <span class="label label-danger" *ngIf="!nombreNegocio.valid && nombreNegocio.touched">El nombre no es valido</span> 
        </label>
        <input type="text" #nombreNegocio="ngModel" [(ngModel)]="nuevoNegocio.nombre" class="form-control" name="nombreNegocio" required>

    
        <label>
            Tipo del Negocio: 
            <span class="label label-danger" *ngIf="!tipoNegocio.valid && tipoNegocio.touched">El tipo del Negocio no es valido</span> 
        </label>
        <!-- <input type="text" #tipoNegocio="ngModel" [(ngModel)]="nuevoNegocio.tipo_negocio" class="form-control" name="tipoNegocio" required> -->
        <select #tipoNegocio="ngModel" [(ngModel)]="nuevoNegocio.tipo" name="tipo_negocio" class="form-control m-bot15" >
            <option value="Ambulante"> Ambulante</option>
            <option value="Establecimiento"> Establecimiento</option>
        </select>

        <label>
            Descripcion del giro del Negocio: 
            <span class="label label-danger" *ngIf="!giroNegocio.valid && giroNegocio.touched">El Giro del Negocio no es valido</span> 
        </label>
        <textarea #giroNegocio="ngModel" [(ngModel)]="nuevoNegocio.descripcion_giro" name="giroNegocio" class="form-control m-bot15" cols="30" rows="4" required></textarea>

        <label>
            Zona asignada al negocio
            <span class="label label-danger" *ngIf="!zona.valid && zona.touched">La zona no es correcta</span>
        </label>
        <select #zona="ngModel" [(ngModel)]="nuevoNegocio.idzona" class="form-control" name="zona" required>
        <option value="{{zona.idzona}}" *ngFor="let zona of zonas"><b>Zona:</b>{{zona.nombre}} | <b>Colonia:</b>{{zona.colonia}}</option>
        </select>

        <label>
            Comentarios: 
            <span class="label label-danger" *ngIf="!comentarios.valid && comentarios.touched">El Giro del Negocio no es valido</span> 
        </label>
        <textarea #comentarios="ngModel" [(ngModel)]="nuevoNegocio.comentarios" name="comentarios" class="form-control m-bot15" cols="30" rows="6" required></textarea>

        <br>
        <!-- boton guardar -->
    <input  type="submit" value="Registrar" [disabled]="!negocioForm.form.valid" class="btn btn-success" name="guardar" title="Registrar" >
    <button class="btn btn-primary" style="margin-left: 3px">Limpiar Formulario</button>

    </form>
</div>
</div>            


<!--main content end-->
