
<!-- titulo -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-car"></i>{{titulo}}</h3>
    </div>
  </div>
  <!-- Contenido  -->
  <div class="row">
    <div class="col-lg-12">
        <div class="row" *ngIf="rutas">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Lista de rutas
                    </header>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th><i class="fa fa-user"></i> id</th>
                                    <th><i class="fa fa-sasdasd"></i> Nombre</th>
                                    <th><i class="fa fa-map"></i> Colonias</th>
                                    <th><i class=""></i> sucursal</th>
                                    <th><i class="fa fa-check"></i>Status</th>
                                    <!-- <th><i class="fa fa-building"></i> IdEmpresa</th> -->
                                    <th><i class="fa fa-pencil"></i>Editar</th>
                                </tr>
                                <tr *ngFor="let ruta of rutas">                                        
                                    <td><i class="fa fa-user"></i> {{ruta.idruta}}</td>
                                    <td><i class="fa fa-sdasd"></i> {{ruta.nombre}}</td>
                                    <td><i class=""></i> {{ruta.colonias}}</td>
                                    <td><i class=""></i> {{ruta.idsucursal}}</td>
                                    <td><i class=""></i> {{ruta.status}}</td>
                                    <td>
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#editarRuta" (click)="mostrarRuta(ruta)"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </section>
            </div> 
        </div>
        <!-- pagination -->
        <div class="text-center" *ngIf="rutas">
            <ul class="pagination">
                <!-- <li><a (click)="getGiros(pag-1)"  *ngIf="pag > 1">«</a></li> -->
                <li *ngFor="let pag of arrayPag"  (click)="cambiarPagina(pag)"><a>{{pag}}</a></li>
                <!-- <li><a (click)="getGiros(pag+1)"  *ngIf="pag < totalPag.length" >»</a></li> -->
            </ul>
            <div class="text-center">
                <span class="badge bg-success">{{pag}}</span>
            </div>
        </div>
        <!-- end pagination -->
            <!-- mensaje cargando giros -->
            <div  *ngIf="!rutas">
                <span>Cargando sucursales...</span>
            </div>
            <!-- fin de mensaje -->
    </div>  
  </div>   
  <!--main content end-->
  
  
  <!-- inicio del modal para editar sucursal -->
  <!-- Inicio del modal -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editarRuta" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Editar ruta</h4>
                </div>
                <div class="modal-body">
    <!-- Inicio del formulario -->
                    <form #rutasForm="ngForm"  (ngSubmit)="guardarCambios();limpiarForm(rutasForm)" role="form">
                        <b>Id de la ruta: </b><label for=""> {{editarRuta.idruta}}</label><br>
                        <label>
                            Nombre: 
                            <span class="label label-danger" *ngIf="!nombre.valid && nombre.touched">El nombre no es valido</span> 
                        </label>
                        <input type="text" #nombre="ngModel" [(ngModel)]="editarRuta.nombre" class="form-control" name="nombre" required>
            
                        <label>
                            Colonias: 
                            <span class="label label-danger" *ngIf="!callenum.valid && callenum.touched">Las colonias no son validas</span> 
                        </label>
                        <input type="text" #callenum="ngModel" [(ngModel)]="editarRuta.colonias" class="form-control" name="callenum" required>
                        
                        <label>
                                Id sucursal: 
                            <span class="label label-danger" *ngIf="!idsucursal.valid && idsucursal.touched">El Id sucursal no es valido</span> 
                        </label>
                        <input type="text" #idsucursal="ngModel" [(ngModel)]="editarRuta.idsucursal" class="form-control" name="idsucursal" required>
                
                        <label>
                            Status:
                            <span class="label label-danger" *ngIf="!status.valid && status.touched">El status no es valido</span> 
                        </label>
                        <select name="status" #status="ngModel" [(ngModel)]="editarRuta.status" class="form-control m-bot15 " required>
                                <option value="editarRuta.status">{{editarRuta.status}}</option>
                                <option value="Activa">Activa</option>
                                <option value="Inactiva">Inactiva</option>
                        </select>
                            <!-- boton guardar -->
                        <input  type="submit" value="Guardar cambios" [disabled]="!rutasForm.form.valid" class="btn btn-success" name="guardar" title="guardar cambios" >
                        <button class="btn btn-primary" style="margin-left: 3px" (click)="limpiarForm(rutasForm)">Limpiar Formulario</button>
                    </form>
    <!-- Fin del formulario -->
                </div>
            </div>
        </div>
    </div>
  <!-- Fin del modal para editar sucursar -->