<!-- titulo -->
<div class="row">
  <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-thumbs-o-up"></i>Encuestas realizadas</h3>
  </div>
</div>
<!-- Contenido  -->
<div class="row">
    
    <br>
    <!-- Aqui va la tabla -->
    <div class="col-lg-12">
        <div class="row" *ngIf="encuestas">
            <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading">
                        Lista de Sucursales
                    </header>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                      <th><i class="fa fa-user"></i>  Id cliente</th>
                                      <th><i class= "fa fa-calendar"></i>  Fecha</th>
                                      <th><i class= ""></i>  Representante</th>
                                      <th><i class= ""></i>  Nombre ruta</th>
                                      <th><i class= ""></i>  Nombre cliente</th>
                                      <th><i class= ""></i>  Fecha Nacimineto</th>
                                      <th><i class= ""></i>  Edad</th>
                                      <th><i class= ""></i>  Domicilio</th>
                                      <th><i class="fa fa-info"> Info</i></th>
                                </tr>
                                <tr *ngFor="let encuesta of encuestas">
                                      <td>id:{{encuesta.idcliente}}</td>
                                      <td>{{encuesta.fecha}}</td>
                                      <td>{{encuesta.representante}}</td>
                                      <td>{{encuesta.nombre_ruta}}</td>
                                      <td>{{encuesta.nombre_cliente}}</td>
                                      <td>{{encuesta.fecha_nacimiento}}</td>
                                      <td>{{encuesta.edad}}</td>
                                      <td>{{encuesta.domicilio}}</td>
                                      <div class="btn-group">
                                          <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="verDatos(encuesta)"><i class="fa fa-eye"></i></a>
                                      </div>

                                <tr>
                                </tr>
                          </tbody>
                        </table>
                    </div>
                  </section>
            </div>
        </div>
    </div>
    <!-- Aqui termina la tabla -->
    <!-- pagination -->
    <div class="text-center" *ngIf="encuestas">
        <ul class="pagination">
          <!-- <li><a (click)="getGiros(pag-1)"  *ngIf="pag > 1">«</a></li> -->
          <li *ngFor="let pag of arrayPag"  (click)="cambiarPagina(pag)"><a>{{pag}}</a></li>
          <!-- <li><a (click)="getGiros(pag+1)"  *ngIf="pag < totalPag.length" >»</a></li> -->
        </ul>
        <div class="text-center">
            <span class="badge bg-success">{{pag}}</span>
        </div>
    </div>
    <!-- end pagination -->
    <!-- mensaje cargando giros -->
    <div  *ngIf="!encuestas">
        <span>Cargando Encuestas...</span>
    </div>
    <!-- fin de mensaje -->
</div>            



<!-- Inicio del modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h4 class="modal-title">Añadir nuevo giro</h4>
          </div>
          <div class="modal-body">

                <b>Id de la encuesta: </b>
                <label> {{encuestaSeleccionada.idencuesta}}</label>

                <h3>Datos del cliente: </h3> <br>

                <b>Id del cliente: </b>
                <label> {{encuestaSeleccionada.idcliente}}</label><br>
                <b>Fecha de solicitud del prestamo : </b>
                <label> {{encuestaSeleccionada.fecha}}</label><br>
                <b>Representante del prestamo: </b>
                <label> {{encuestaSeleccionada.representante}}</label><br>
                <b>Nombre de la ruta: </b>
                <label> {{encuestaSeleccionada.nombre_ruta}}</label><br>
                <b>Nombre del cliente: </b>
                <label> {{encuestaSeleccionada.nombre_cliente}}</label><br>
                <b>Fecha de nacimiento </b>
                <label> {{encuestaSeleccionada.fecha_nacimiento}}</label><br>
                <b>Edad: </b>
                <label> {{encuestaSeleccionada.edad}}</label><br>
                <b>Comprobante que el cliente envia: </b>
                <label> {{encuestaSeleccionada.comprobante_envia}}</label><br>
                <b>Domicilio: </b>
                <label> {{encuestaSeleccionada.domicilio}}</label><br>
                <b>El domicilio es propio o rentado: </b>
                <label> {{encuestaSeleccionada.domicilio_propio_rentado}}</label><br>
                <b>Numero de dependientes economicos: </b>
                <label> {{encuestaSeleccionada.dependientes_economicos}}</label><br>
                <b>Monto autorizado (en caso de estarlo): </b>
                <label> {{encuestaSeleccionada.monto_autorizado}}</label><br>
                <hr>

                <h3>Datos del negocio del cliente </h3> <br>

                <b>Id del negocio con el que se solicito el prestamo: </b>
                <label> {{encuestaSeleccionada.idnegocio}}</label><br>
                <b>Giro del negocio: </b>
                <label> {{encuestaSeleccionada.giro_negocio}}</label><br>
                <b>Ingresos semanales en el negocio: </b>
                <label> {{encuestaSeleccionada.ingresos_semanales}}</label><br>
                <b>El cliente es propietario o empleado del negocio: </b>
                <label> {{encuestaSeleccionada.propietario_o_empleado}}</label><br>
                <b>Antiguedad del negocio: </b>
                <label> {{encuestaSeleccionada.antiguedad_negocio}}</label> <br>   
                <b>El negocio cuenta con ontrato de arrendamiento:</b>
                <label> {{encuestaSeleccionada.contrato_arrendamiento}}</label> <br>
                <b>Ubicacion del negocio: </b>  
                <label> {{encuestaSeleccionada.ubicacion}}</label> <br>
                <b>Horario laboral del negocio: </b>
                <label> {{encuestaSeleccionada.hora_laboran}}</label> <br>
                <hr>

                <h3>Datos del aval</h3>
                <b>Nombre del aval: </b>
                <label> {{encuestaSeleccionada.nombre_aval}}</label> <br>
                <b>Tiempo de conocerse: </b>
                <label> {{encuestaSeleccionada.antiguedad_conocerse}}</label> <br>
                <b>Telefono del aval: </b>
                <label> {{encuestaSeleccionada.telefono_aval}}</label> <br>
                <hr>

                <h3>Datos del familiar</h3>
                <b>Nombre del familiar: </b>
                <label> {{encuestaSeleccionada.nombre_familiar}}</label> <br>
                <b>Parentesco con el familiar: </b>
                <label> {{encuestaSeleccionada.parentesco}}</label> <br>
                <b>Telefono del familiar: </b>
                <label> {{encuestaSeleccionada.telefono_familiar}}</label>
                <hr>

                <h3>Datos extra</h3>
                <b>Como supo de estos prestamos: </b>
                <label> {{encuestaSeleccionada.como_supo}}</label> <br>
                <b>Estatus de la encuesta: </b>
                <label> {{encuestaSeleccionada.status}}</label> <br>
            </div>
      </div>
  </div>
</div>
<!-- Fin del modal -->