
<!-- titulo -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-building-o"></i>Añadir Nueva Zona</h3>
    </div>
  </div>
  <!-- Contenido  --> 
  <div class="row">
    <div class="col-lg-12">
    <form #rutasForm="ngForm"  (ngSubmit)="addSucursal();limpiarForm(rutasForm)" role="form">
        <br>
        <label>
            Nombre: 
            <span class="label label-danger" *ngIf="!nombre.valid && nombre.touched">El nombre no es valido</span> 
        </label>
        <input type="text" #nombre="ngModel" [(ngModel)]="nuevaRuta.nombre" class="form-control" name="nombre" required>

        <label>
            Colonias: 
            <span class="label label-danger" *ngIf="!callenum.valid && callenum.touched">Las colonias no son validas</span> 
        </label>
        <input type="text" #callenum="ngModel" [(ngModel)]="nuevaRuta.colonias" class="form-control" name="callenum" required>
        
        <label>
            sucursal: 
            <span class="label label-danger" *ngIf="!idsucursal.valid && idsucursal.touched">La sucursal no es valido</span> 
        </label>
        <select name="idsucursal" #idsucursal="ngModel" [(ngModel)]="nuevaRuta.status" class="form-control m-bot15 " required>
                <option value="{{sucursal.idsucursal}}" *ngFor="let sucursal of sucursales">{{sucursal.nombre}}</option>
        </select>
        <label>
            Status:
            <span class="label label-danger" *ngIf="!status.valid && status.touched">El status no es valido</span> 
        </label>
        <select name="status" #status="ngModel" [(ngModel)]="nuevaRuta.status" class="form-control m-bot15 " required>
                <option value="Activa">Alta</option>
                <option value="InActiva">Baja</option>
        </select>
            <!-- boton guardar -->
        <input  type="submit" value="Guardar cambios" [disabled]="!rutasForm.form.valid" class="btn btn-success" name="guardar" title="guardar cambios" >
        <button class="btn btn-primary" style="margin-left: 3px" (click)="limpiarForm(rutasForm)">Limpiar Formulario</button>
    </form>

</div>
</div>        